<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="../logs/wisematches.log"/>
        <param name="append" value="false"/>

        <param name="MaxFileSize" value="5MB"/>
        <param name="MaxBackupIndex" value="3"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p [%t] %c{3}.%M - %m%n"/>
        </layout>
    </appender>

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p [%t] %c{3}.%M - %m%n"/>
        </layout>
    </appender>
<!--

    <logger name="wisematches">
        <level value="DEBUG"/>
        &lt;!&ndash;<appender-ref ref="FileAppender"/>&ndash;&gt;
        <appender-ref ref="ConsoleAppender"/>
    </logger>
-->

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
</log4j:configuration>
