<html>
<body>
<p>
    Congratulations on creating your new WiseMatches account, <strong>${player.nickname}</strong>.
</p>

<p>
    You can log in to your account at <a href="${site-url}">${site-url}</a>.
</p>
<br>

<p>
    Enjoy!
</p>

<p>
    The WiseMatches Team
</p>
<br>

<p>
    If you didn't created WiseMatches account and don't recognize this message, it means someone used your
    email address for creating a account at WiseMatches. We recommend contacting a WiseMatches Support Team by email:
    <a href="mailto:account-support@${site-name}">account-support@${site-name}</a>.
</body>
</html>