<html>
<body>
<p>
    Поздравляем вас с созданием WiseMatches аккаунта, <strong>${player.username}</strong>.
</p>

<p>
    Вы можете войти в ваш аккаунт на <a href="${site-url}">${site-url}</a>.
</p>
<br>

<p>
    Приятного времяпровождения!
</p>

<p>
    Коллектив WiseMatches
</p>
<br>

<p>
    Если вы не создавали WiseMatches аккаунт и получение данного письма вызывает у вас недоумение, это значит что кто-то
    использовал ваш электронный адрес при создании аккаунта на WiseMatches. Мы рекомендуем обратиться в службу поддержки
    WiseMatches по адресу: <a href="mailto:account-support@${site-name}">account-support@${site-name}</a>.
</p>
</body>
</html>