#* @vtlvariable name="token" type="java.lang.String" *#
<html>
<body>
<p>
    To initiate the process for resetting the password for your ${player.nickname} WiseMatches Account, visit the link
    below
</p>

<p>
    <a href="${site-url}/signin?rp=${token}&locale=${player.language}">${site-url}/signin?rp=${token}
        &locale=${player.language}</a>
    <br>
    If clicking on the link above does not work, copy and paste the URL in a
    new browser window instead. Thank you for using WiseMatches.
</p>

<p>
    This is a post-only mailing. Replies to this message are not monitored or answered.
</p>
</body>
</html>