<html>
<body>
<p>
    Ваш адес эл. почты, ${player.email}, связан с именем пользователя:
    <br>
    &nbsp;&nbsp;${player.nickname}
</p>

<p>
    Чтобы войти, нажмите расположенную ниже ссылку.
</p>

<p>
    <a href="${site-url}">${site-url}</a>
    <br>
    Если эта ссылка не работает, откройте новое окно браузера, а затем скопируйте и вставьте URL-адрес в адресную
    строку.
    Спасибо, что пользуетесь WiseMatches.
</p>

<p>
    Это письмо было отправлено автоматически. Не отвечайте на это письмо – мы не получим ваш ответ.
</p>
</body>
</html>