#* @vtlmacrolibrary path="/templates/mail/notification/game_common_en.vm" *#

#* @vtlvariable name="board" type="wisematches.server.games.board.GameBoard" *#
#* @vtlvariable name="wonPlayer" type="wisematches.kernel.player.Player" *#
#* @vtlvariable name="interrupterPlayer" type="wisematches.kernel.player.Player" *#
#* @vtlvariable name="timeouted" type="java.lang.Boolean" *#
#* @vtlvariable name="rated" type="java.lang.Boolean" *#
<html>
<body>
    #parse("/templates/mail/notification/game_common_en.vm")

    #set ($won = ($player.Id == $wonPlayer.Id))
    #set ($playerHand = $board.getPlayerHand($player.Id))

<p>
    #if ($interrupterPlayer && $interrupterPlayer.Id == $player.Id)
        #if ($timeouted)
            Your move time is up and game board #boardName($board) was interrupted
        #else
            You have interrupted a game board #boardName($board)
        #end
        and you marked as lost in this game.
    #else
        #if($won)
            Congratulation! You won game board #boardName($board)
        #else
            Sorry, you lost game board #boardName($board)
        #end
        with $playerHand.Points points.
    #end
</p>

<p>
    #if ($rated)
        Your rating was changed by <em>$playerHand.RatingDelta</em> points and
        now it is <em>$playerHand.Rating</em>.
    #else
        Your rating ans statistic were not changed because game is not rated.
    #end
</p>

    #parse("/templates/mail/notification/mail_footer_en.vm")
</body>
</html>