#* @vtlmacrolibrary path="/templates/mail/notification/game_common_en.vm" *#

#* @vtlvariable name="board" type="wisematches.server.gameplaying.board.GameBoard" *#
#* @vtlvariable name="remainderTime" type="wisematches.server.gameplaying.cleaner.RemainderType" *#
<html>
<body>
    #parse("/templates/mail/notification/game_common_en.vm")
<p>
    Your move time is running out in game board #boardName($board).
</p>
<br>

<p>
    #set ($elapsedMnutes = $remainderTime.ReminderPeriod / 1000 / 60)
    You have <em>#timeToString($elapsedMnutes)</em> to make a turn or game will be terminated and
    you will be defeated.
</p>
    #parse("/templates/mail/notification/mail_footer_en.vm")
</body>
</html>