#* @vtlmacrolibrary path="/templates/mail/notification/game_common_ru.vm" *#

#* @vtlvariable name="board" type="wisematches.server.games.board.GameBoard" *#
#* @vtlvariable name="changedPlayer" type="wisematches.kernel.player.Player" *#
#* @vtlvariable name="joined" type="java.lang.Boolean" *#
<html>
<body>
    #parse("/templates/mail/notification/game_common_ru.vm")

<p>
    Игрок #playerName($changedPlayer)
    #if ($joined)
        присоединился к игре
    #else
        ушел из игря
    #end
    #boardName($board).
</p>
    #parse("/templates/mail/notification/mail_footer_ru.vm")
</body>
</html>