<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="wisematches.client.android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
            android:name="android.hardware.screen.portrait"
            android:required="true"/>

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="true"/>

    <application
            android:name=".WiseMatchesApplication"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">

        <!--
                <activity
                        android:name=".app.EntryPointActivity"
                        android:noHistory="true"
                        android:screenOrientation="portrait">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>
                        <category android:name="android.intent.category.LAUNCHER"/>
                    </intent-filter>
                </activity>
        -->
        <activity
                android:name=".app.playground.scribble.ScribbleBoardActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.account.LoginActivity"/>

        <activity android:name=".app.account.RestoreActivity"/>

        <activity android:name=".app.account.RegisterActivity"/>

        <activity android:name=".app.playground.DashboardActivity"/>

        <!--<activity android:name=".app.playground.GameBoardActivity"/>-->
    </application>
</manifest> 
