#* @implicitly included *#
#* @vtlvariable name="player" type="wisematches.server.player.Player" *#
#* @vtlvariable name="site-url" type="java.lang.String" *#
#* @vtlvariable name="site-name" type="java.lang.String" *#
