#create-game .description {
    padding-bottom: 15px;
}

#create-game .ui-widget-content {
    margin-bottom: 10px;
}

#create-game .ui-widget-header {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

#create-game .ui-widget-content table {
    border-spacing: 5px;
}

#create-game .ui-widget-content td {
    text-align: left;
    vertical-align: top;
}

#game-header {
    border-bottom: 1px solid #C9D7F1;
}

.player {
    white-space: nowrap;
    display: inline-block;
}

.player a, .player .nickname, .player .rating, .player .waiting {
    color: #a52a2a;
}

.player .nickname {
    font-weight: bold;
}

.player .mod {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0 0 2px;
    vertical-align: bottom;
    display: inline-block;
}

.player .rating {
    padding-left: 3px;
}

.player.member .mod {
    background: url("/resources/images/player/memberships.png") no-repeat left top;
}

.player.computer .mod {
    background: url("/resources/images/player/types.png") no-repeat left top;
}

.player .basic {
    width: 0 !important;
    height: 0 !important;
}

.player .guest {
    background-position: 0 0 !important;
}

.player .robot {
    background-position: -16px 0 !important;
}

.player .silver {
    background-position: -16px 0 !important;
}

.player .gold {
    background-position: -32px 0 !important;
}

.player .platinum {
    background-position: -48px 0 !important;
}

#selectRobotPlayer {
    white-space: nowrap;
    position: relative;
    padding: 0;
    margin: 0
}

#robotsList {
    border: 1px solid #79b7e7;
    background: #dfeffc;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: -35px;
}

#robotsList li {
    display: block;
    margin: 1px;
    padding: 3px 10px;
    border: 1px solid #A6C9E2;
}

#minRatingDiv, #maxRatingDiv, #selectRobotPlayer {
    display: inline-block;
}

#dashboard th, #dashboard td, #gameboard th, #gameboard td {
    padding: 2px 5px;
    vertical-align: top;
    white-space: nowrap;
}

.player-info {
    padding: 3px;
    margin-bottom: 5px;
    background-image: none !important;
}

.player-info td {
    color: gray;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    border: 1px solid transparent;
}

.player-info .points {
    text-align: center;
}

.player-info .rating {
    padding-left: 10px;
}

.player-info .rating div {
    display: inline-block;
}

.player-info .winner-icon {
    vertical-align: top;
}

/*

.ui-button-text-icon-primary .ui-button-text {
    padding-left: 16px !important;
}
*/
