#create-game .description {
    padding-bottom: 15px;
}

#create-game .ui-widget-content {
    margin-bottom: 10px;
}

#create-game .ui-widget-header {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

#create-game .ui-widget-content table {
    border-spacing: 5px;
}

#create-game .ui-widget-content td {
    text-align: left;
    vertical-align: top;
}

#game-header {
    border-bottom: 1px solid #C9D7F1;
    margin-bottom: 20px;
}

.player {
    white-space: nowrap;
    display: inline-block;
}

.player a, .player .nickname, .player .rating, .player .waiting {
    color: #a52a2a;
}

.player .nickname {
    font-weight: bold;
}

.player .mod {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0 0 2px;
    vertical-align: bottom;
    display: inline-block;
}

.player .rating {
    padding-left: 3px;
}

.player.member .mod {
    background: url("/resources/images/player/memberships.png") no-repeat left top;
}

.player.computer .mod {
    background: url("/resources/images/player/types.png") no-repeat left top;
}

.player .basic {
    width: 0 !important;
    height: 0 !important;
}

.player .guest {
    background-position: 0 0 !important;
}

.player .robot {
    background-position: -16px 0 !important;
}

.player .silver {
    background-position: -16px 0 !important;
}

.player .gold {
    background-position: -32px 0 !important;
}

.player .platinum {
    background-position: -48px 0 !important;
}

#selectRobotPlayer {
    white-space: nowrap;
    position: relative;
    padding: 0;
    margin: 0
}

#robotsList {
    border: 1px solid #79b7e7;
    background: #dfeffc;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: -35px;
}

#robotsList li {
    display: block;
    margin: 1px;
    padding: 3px 10px;
    border: 1px solid #A6C9E2;
}

#minRatingDiv, #maxRatingDiv, #selectRobotPlayer {
    display: inline-block;
}

#dashboard th, #dashboard td, #gameboard th, #gameboard td {
    padding: 2px 5px;
    vertical-align: top;
    white-space: nowrap;
}

.playerInfo {
    padding: 3px;
    margin-bottom: 5px;
    background-image: none !important;
}

.playerInfo td {
    white-space: nowrap;
}

.playerInfo.passive td {
    color: gray !important;
    border-color: transparent !important;
    background: none !important;
}

#playboard #scribbleBoard {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

#playboard tr.odd td, #playboard tr.even td {
    border: 0;
    background-color: #DFE8F6;
    cursor: pointer;
}

#playboard tr.even:hover td, #playboard tr.odd:hover td {
    border: 0;
    background-color: #A6C9E2;
    cursor: pointer;
}

#playboard #memoryWords th, #playboard #memoryWords td {
    white-space: nowrap;
}

#playboard #movesHistory th, #playboard #movesHistory td {
    white-space: nowrap;
}

#playboard #movesHistory .ui-state-default {
    border: 0;
}

#playboard #gameInfo td {
    padding-left: 5px;
    white-space: nowrap;
}

#playboard button {
    padding-left: 12px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

.icon-make-turn {
    background-image: url('/resources/images/scribble/playboard/makeTurn.png') !important;
}

.icon-clear-word {
    background-image: url('/resources/images/scribble/playboard/clearWord.png') !important;
}

.icon-exchange-tiles {
    background-image: url('/resources/images/scribble/playboard/exchangeTiles.png') !important;
}

.icon-pass-turn {
    background-image: url('/resources/images/scribble/playboard/passTurn.png') !important;
}

.icon-memory-add {
    background-image: url('/resources/images/scribble/playboard/memoryAdd.png') !important;
}

.icon-memory-remove {
    background-image: url('/resources/images/scribble/playboard/memoryRemove.png') !important;
}

.icon-memory-select {
    background-image: url('/resources/images/scribble/playboard/memorySelect.png') !important;
}

.icon-memory-clear {
    background-image: url('/resources/images/scribble/playboard/memoryClear.png') !important;
}