#* @vtlmacrolibrary path="/templates/mail/notification/game_common_ru.vm" *#

#* @vtlvariable name="board" type="wisematches.server.gameplaying.board.GameBoard" *#
#* @vtlvariable name="remainderTime" type="wisematches.server.gameplaying.cleaner.RemainderType" *#
<html>
<body>
    #parse("/templates/mail/notification/game_common_ru.vm")
<p>
    Время вашего хода истекает в игре #boardName($board).
</p>
<br>

<p>
    #set ($elapsedMnutes = $remainderTime.ReminderPeriod / 1000 / 60)
    У вас есть <em>#timeToString($elapsedMnutes)</em> для выполнения хода или игра
    будет прервана и вам будет засчитан проигрыш.
</p>
    #parse("/templates/mail/notification/mail_footer_ru.vm")
</body>
</html>