.playboard tr.odd, .playboard tr.even, .playboard tr.odd td, .playboard tr.even td {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.playboard tr.even:hover td, .playboard tr.odd:hover td {
    border: 0;
    background-color: #A6C9E2;
    cursor: pointer;
}

.movesHistory td {
    padding-left: 3px;
    padding-right: 3px;
}

.movesHistory th, .movesHistory td {
    white-space: nowrap;
}

.movesHistory .ui-state-default {
    border: 0;
}

.movesHistory .moveMade {
}

.movesHistory .movePassed {
    color: gray;
    font-style: italic;
}

.movesHistory .moveExchange {
    color: gray;
    font-style: italic;
}

.movesHistory .dataTables_scrollBody {
    overflow-x: hidden !important;
}

.createChallenge button, .createChallenge span {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.game-progress {
    height: 16px;
    width: 100%;
    padding: 0;
    overflow: visible !important;
    background-color: transparent;
    position: relative;
}

.game-progress div {
    width: 100%;
    padding: 0;
    margin: 0;
}

.game-progress .game-progress-board {
    float: left;
    background-color: #1aa21a;
    border: 1px solid #137c13;
    border-right-width: 0;
}

.game-progress .game-progress-bank {
    float: left;
    background-color: #ec7500;
    border: 1px solid #c46100;
    border-left-width: 0;
    border-right-width: 0;
}

.game-progress .game-progress-hand {
    float: left;
    background-color: #dcd900;
    border: 1px solid #a19e01;
    border-left-width: 0;
}

.game-progress .game-progress-caption {
    width: 100%;
    position: absolute;
    font-weight: bold;
    text-align: center;
}

.game-progress .game-progress-finished {
    float: left;
    font-weight: bold;
    text-align: center;
    line-height: normal;
    color: white !important;
    background-color: #cccccc;
    border: 1px solid #999999;
}

.game-resolution-player {
    font-size: 10px;
    text-align: right;
    font-style: italic;
}

.game-state-scratch {
    text-align: center;
}

.game-state-scratch span {
    font-style: italic;
    font-weight: bold;
}

.playboard .gameInfo td {
    padding-left: 5px;
    white-space: nowrap;
}

.playboard button {
    padding-left: 12px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

.wordStatus {
    position: relative;
}

.wordStatusIcon {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: .5em
}

.wordStatusMessage {
    padding-left: 24px;
}

.scribble {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 356px !important;
    height: 373px !important;
    background: transparent;
}

.scribble .border {
    z-index: 0;
    width: 356px;
    height: 356px;
    position: absolute;
    background: #daecf2;
    border: 1px solid #cadbe1;
}

.scribble .border span {
    color: #3c3c3c;
    position: absolute;
    text-align: center;
    font-size: 8px !important;
}

.scribble .border .v {
    width: 8px;
    height: 22px;
}

.scribble .border .h {
    width: 22px;
    height: 8px;
}

.scribble .background {
    top: 10px;
    left: 10px;
    z-index: 1;
    position: absolute;
    width: 336px !important;
    height: 337px !important;
    border: 1px solid black;
}

.scribble .background .color {
    z-index: 2;
    position: absolute;
    background: #558be7;
    width: 334px !important;
    height: 335px !important;
    border: 1px solid white;
    background: -moz-linear-gradient(-45deg, #1a49d6, #75b0f1);
    background: -webkit-gradient(linear, left top, right bottom, from(#1a49d6), to(#75b0f1));
    background: -o-linear-gradient(top left, #1a49d6, #75b0f1);
}

.scribble .background .grid {
    z-index: 3;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 328px !important;
    height: 329px !important;
    border: 3px solid transparent;
    background: url('/resources/images/scribble/board/grid.gif') repeat;
}

.scribble .background .bonuses {
    top: 3px;
    left: 3px;
    z-index: 4;
    position: absolute;
}

.scribble .field {
    z-index: 2;
    position: absolute;
    top: 13px !important;
    left: 13px !important;
    width: 334px !important;
    height: 335px !important;
}

.scribble .board {
    top: 1px;
    left: 1px;
    position: absolute;
    width: 330px !important;
    height: 330px !important;
}

.scribble .hand {
    width: 222px;
    height: 25px;
    position: absolute;
}

.scribble .field .hand {
    top: 336px !important;
    left: 89px !important;
}

.scribble .background .hand {
    top: 336px !important;
    left: 57px !important;
    background: url('/resources/images/scribble/board/hand.gif');
}

.scribble .highlighting {
    z-index: 4;
    width: 22px !important;
    height: 22px !important;
    background: url(/resources/images/scribble/board/tiles.png) no-repeat;
    position: absolute;
}

.tile {
    cursor: pointer;
    color: white;
    z-index: 5;

    font-size: 12px;
    font-family: arial serif;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    text-align: center;
    vertical-align: middle;
}

.tiles-set-classic .tile {
    background-image: url(/resources/images/scribble/board/tiles_1.png);
}

.tiles-set-classic2 .tile {
    background-image: url(/resources/images/scribble/board/tiles_2.png);
}

.tile span {
    top: 3px;
    cursor: pointer;
    position: relative;
}

.tile-selected span {
    font-weight: bold;
    text-shadow: white 0 0 10px, white 0 0 1px;
}

.tile-selected.cost0 span {
    text-shadow: black 0 0 10px, black 0 0 1px;
}

.cell, .tile {
    width: 22px !important;
    height: 22px !important;
    position: absolute;
}

.cost0 {
    color: black;
}

.cost1, .cost2, .cost3, .cost4, .cost5, .cost6, .cost7, .cost8, .cost9, .cost10 {
    color: white;
}

ul.bonuses span {
    display: inline-block;
}

ul.bonuses .bonus-cell {
    position: relative;
}

.bonus-cell {
    font-size: 10px;
    padding-top: 4px;
    text-align: center;
}

.bonus-cell-center {
    background: url(/resources/images/scribble/board/bonuses.png) no-repeat 0 0;
}

.bonus-cell-2l {
    background: url(/resources/images/scribble/board/bonuses.png) no-repeat -22px 0;
}

.bonus-cell-2w {
    background: url(/resources/images/scribble/board/bonuses.png) no-repeat -44px 0;
}

.bonus-cell-3l {
    background: url(/resources/images/scribble/board/bonuses.png) no-repeat -66px 0;
}

.bonus-cell-3w {
    background: url(/resources/images/scribble/board/bonuses.png) no-repeat -88px 0;
}

.icon-controls-make {
    width: 20px;
    height: 20px;
    background: url('/resources/images/scribble/playboard/controls.png') no-repeat 0 0 !important;
}

.icon-controls-pass {
    width: 20px;
    height: 20px;
    background: url('/resources/images/scribble/playboard/controls.png') no-repeat -20px 0 !important;
}

.icon-controls-highlight {
    width: 20px;
    height: 20px;
    background: url('/resources/images/scribble/playboard/controls.png') no-repeat -40px 0 !important;
}

.icon-controls-exchange {
    width: 20px;
    height: 20px;
    background: url('/resources/images/scribble/playboard/controls.png') no-repeat -60px 0 !important;
}

.icon-controls-clear {
    width: 20px;
    height: 20px;
    background: url('/resources/images/scribble/playboard/controls.png') no-repeat -80px 0 !important;
}

.icon-controls-resign {
    width: 20px;
    height: 20px;
    background: url('/resources/images/scribble/playboard/controls.png') no-repeat -100px 0 !important;
}

.icon-memory-add {
    background: url('/resources/images/scribble/playboard/memory.png') no-repeat 0 0 !important;
}

.icon-memory-remove {
    background: url('/resources/images/scribble/playboard/memory.png') no-repeat -16px 0 !important;
}

.memoryWords_wrapper {
    min-height: 20px;
    _height: 20px;
}

.memoryWords {
    width: 100%;
}

.memoryWords .memory-controls {
    white-space: nowrap;
}

.memoryWords .memory-controls a, .memoryWords .memory-controls span {
    border: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-memory-select {
    background: url('/resources/images/scribble/playboard/memory.png') no-repeat -32px 0 !important;
}

.icon-memory-clear {
    background: url('/resources/images/scribble/playboard/memory.png') no-repeat -48px 0 !important;
}

.icon-word-check {
    background: url("/resources/images/scribble/playboard/checks.png") no-repeat 0 0 !important;
}

.icon-word-valid {
    background: url("/resources/images/scribble/playboard/checks.png") no-repeat -16px 0 !important;
}

.icon-word-invalid {
    background: url("/resources/images/scribble/playboard/checks.png") no-repeat -32px 0 !important;
}

.icon-wait {
    background: url("/resources/images/wait.gif") no-repeat left center !important;
}

.icon-empty {
    background-image: none !important;
}

.your-turn .content span {
    color: #a52a2a;
    font-weight: bold;
}

.your-turn .icon {
    width: 48px;
    height: 48px;
    background: url('/resources/images/scribble/playboard/notifications.png') no-repeat 0 0;
}

.opponent-turn .icon {
    width: 48px;
    height: 48px;
    background: url('/resources/images/scribble/playboard/notifications.png') no-repeat -48px 0;
}

.game-finished .icon {
    width: 48px;
    height: 48px;
    background: url('/resources/images/scribble/playboard/notifications.png') no-repeat -96px 0;
}

.move-accepted .icon {
    width: 48px;
    height: 48px;
    background: url('/resources/images/scribble/playboard/notifications.png') no-repeat -144px 0;
}

.move-declined .icon {
    width: 48px;
    height: 48px;
    background: url('/resources/images/scribble/playboard/notifications.png') no-repeat -192px 0;
}

.tiles-bank table {
    border-spacing: 0;
    border-collapse: collapse;
}

.tiles-bank table th {
    padding: 3px;
}

.points-value, .count-value {
    text-align: center;
}

.points-value, .count-tiles {
    border-right: none;
    padding-right: 5px;
}

.count-value, .points-tiles {
    border-left: none;
    padding-left: 5px;
}

.points-tiles>div {
    float: right;
}

.points-tiles>div, .count-tiles>div {
    height: 22px;
    position: relative;
}

.player-info {
    padding: 3px;
    margin-bottom: 5px;
    background-image: none !important;
}

.player-info td {
    color: gray;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    border: 1px solid transparent;
}

.player-info .points {
    text-align: center;
}

.player-info .rating {
    padding-left: 10px;
}

.player-info .rating div {
    display: inline-block;
}

.player-info .winner-icon {
    vertical-align: top;
}

.word-check {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.word-lookup {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.word-lookup span {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.word-value.ui-state-valid {
    padding: 2px 1px;
    color: #097909;
    border: 1px solid #097909;
    background-color: #edfae8;
}

.word-value.ui-state-error {
    padding: 2px 1px;
    background-image: none;
}

.annotation, .shareWidget, .boardInfoWidget, .movesHistory, .memoryWordsWidget, .moveInfo, .dictionaryWidget {
    margin-top: 10px;
}

.annotation {
    max-width: 445px;
}

.annotation .new {
    font-weight: bold;
    background: none !important;
    border: none !important;
}

.annotation .controls {
    float: right;
    padding-right: 4px;
}

.annotation .item {
    position: relative;
}

.annotation .item .time {
    font-size: 10px;
    color: gray;
    line-height: normal;
    display: inline-block;
    float: right;
}

.annotation .item .sender {
    display: inline-block;
}

.annotation .item .message {
    padding: 0;
    margin: 0;
    position: relative;
    text-align: justify;
    line-height: normal;
}

.annotation .separator {
    padding-top: 0;
    margin-left: -5px;
    margin-right: -5px;
    border-width: 0;
    border-bottom-width: 1px;
}

.annotation .item.collapsed .info {
    display: none;
}

.annotation .item.collapsed .message {
    overflow: hidden;
    white-space: nowrap;
}

.annotation .item.collapsed .message span {
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    position: absolute;
    background: url(/resources/images/scribble/board/textFading.png) repeat-y;
}

.annotation .status div, .annotation .status span {
    margin: 0;
    padding: 0 0 0;
    font-size: 11px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    line-height: normal;
}