.inbody, td, div, p, a, font, span {
    font-family: arial, sans-serif;
}

h2 {
    font-size: 14pt;
    color: #5A87CF;
}

.signin {
    text-align: center;
}

.restoreUsername {
    text-align: left;
}

.restorePassword {
    text-align: right;
}

.createAccount {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
}

.signinGuest {
    text-align: center;
    font-size: small;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 15px;
}

.error-field {
    color: red;
    text-align: center;
}

.welcome {
    font-weight: bold;
    font-size: x-large;
    color: #003333;
}

.about-link {
    text-align: left;
}

.features-link {
    text-align: right;
}

.about-title, . features-title {
    padding-left: 10px;
}

.about-info, .features-info {
    font-size: smaller;
    padding-top: 10px;
}

.about-item, .features-item {
    padding-top: 20px;
    padding-left: 10px;
}

.about-item .image, .features-item .image {
    float: left;
    width: 48px;
    height: 48px;
    padding-right: 10px;
}

.about-item .header, .features-item .header {
    font-size: smaller;
    font-weight: bold;
}

.about-item .content, .features-item .content {
    padding-top: 5px;
    text-align: justify;
    font-size: smaller;
}

.features-item .content {
    padding-left: 10px;
}

.info-header {
    font-weight: bold;
}

.info-main {
    padding-top: 10px;
    text-align: justify;
    font-size: smaller;
}

.info-item {
    padding-top: 10px;
    vertical-align: top;
}

.info-item-image {
    float: left;
    padding-left: 15px;
    text-align: left;
}

.info-item-content {
    padding-left: 5px;
    text-align: justify;
    font-size: smaller;
}

.info-rules-link {
    font-size: x-small;
    text-align: right;
}

.info-footer {
    border-top: solid 1px rgb(204, 204, 204);
    width: 250px;
    padding-top: 10px;
    font-size: smaller;
}