body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

#loading {
    position: absolute;
    left: 45%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
    height: auto;
    border: 1px solid #ccc;
}

#loading a {
    color: #225588;
}

#loading .loading-indicator {
    background: white;
    color: #444;
    font: bold 13px tahoma, arial, helvetica;
    padding: 10px;
    margin: 0;
    height: auto;
}

#loading-msg {
    font: normal 10px arial, tahoma, sans-serif;
}

.error-field {
    color: red;
    text-align: center;
}

.error-stack-trace h1 {
    font-size: large;
}

.footer {
    font-size: 1em;
    white-space: nowrap;
    text-align: center;
}

.copyrights {
    color: #666666;
}

.flat-hyperlink {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.green-flat-hyperlink {
    color: green;
}

.blue-flat-hyperlink {
    color: #225588;
}


.brown-flat-hyperlink {
    color: brown;
}

.messages-panel {
    font-size: 12px;
}

.vd .message {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.vd {
}

.vd .title {
    padding-left: 5px;
}

.vd .history-link {
    font-size: x-small;
    padding-left: 15px;
}

.vd .revision-label {
    font-size: 85%;
}

.vd .revision-field {
    font-size: 85%;
}

.vd .status-label {
    font-size: 85%;
}

.vd .status-field {
    font-size: 85%;
}

.vd .status-field-active {
    color: green;
}

.vd .status-field-archive {
    color: orange;
}

.vd .separator {
    width: 240px;
    border-top: 1px solid #666666;
    font-size: 1px;
    margin-left: 5px;
}

.vd .frame {
    border: 0;
    padding-top: 5px;
}

#logger-panel .logger-fatal {
    color: #ff0000;
}

#logger-panel .logger-error {
    color: #ff6666;
}

#logger-panel .logger-info {
    color: black;
}

#logger-panel .logger-debug {
    color: #666666;
}

#logger-panel .logger-trace {
    color: #cccccc;
}

.alarm-close {
    width: 11px;
    height: 11px;
}

.x-text-tool {
    color: red;
    float: right;
}