#* @vtlvariable name="token" type="java.lang.String" *#
<html>
<body>
<p>
    Чтобы изменить пароль аккаунта WiseMatches ${player.username} нажмите на расположенную ниже ссылку:
</p>

<p>
    <a href="${site-url}/signin?rp=${token}&locale=${player.language}">${site-url}/signin?rp=${token}&locale=${player.language}</a>
    <br>
    Если эта ссылка не работает, откройте новое окно браузера, а затем скопируйте и вставьте URL-адрес в адресную
    строку.
    Спасибо, что пользуетесь WiseMatches.
</p>

<p>
    Это письмо было отправлено автоматически. Не отвечайте на это письмо – мы не получим ваш ответ.
</p>
</body>
</html>