<br>
<p>
    To show the game board, visit the link below.
</p>
<p>
    <a href="${site-url}">${site-url}</a>
    <br>
    If clicking on the link above does not work, copy and paste the URL in a
    new browser window instead. Thank you for using WiseMatches.
</p>
<br><br><br>
<p>
    This is a post-only mailing. Replies to this message are not monitored or answered.
</p>
