#game-toolbar .ui-buttonset {
    margin-right: 0;
}

.restriction {
    padding: 5px;
}

.restriction>div {
    vertical-align: top;
    display: inline-block;
}

.restriction-name {
    font-size: 16px;
    font-weight: bold;
}

.restriction-message {
    margin-top: -10px;
    padding-left: 37px;
}

.restriction .restriction-icon {
    float: left;
    padding-right: 5px;
}

#create-game .description {
    padding-bottom: 15px;
}

#create-game .ui-widget-content {
    margin-bottom: 10px;
}

#create-game .ui-widget-header {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

#create-game .ui-widget-content table {
    border-spacing: 5px;
}

#create-game .ui-widget-content td {
    text-align: left;
    vertical-align: top;
}

#join-game .ui-state-error-text {
    font-weight: bold;
}

#game-header {
    border-bottom: 1px solid #C9D7F1;
}

.player {
    white-space: nowrap;
    display: inline-block;
}

.player a, .player .nickname, .player .rating {
    color: #a52a2a;
}

.player .waiting {
    color: gray;
}

.player .nickname {
    font-weight: bold;
}

.player .mod {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0 0 2px;
    vertical-align: bottom;
    display: inline-block;
}

.player .rating {
    padding-left: 3px;
}

.player.member .mod {
    background: url("/resources/images/player/memberships.png") no-repeat left top;
}

.player.computer .mod {
    background: url("/resources/images/player/types.png") no-repeat left top;
}

.player .basic {
    width: 0 !important;
    height: 0 !important;
}

.player .guest {
    background-position: 0 0 !important;
}

.player .robot {
    background-position: -16px 0 !important;
}

.player .silver {
    background-position: -16px 0 !important;
}

.player .gold {
    background-position: -32px 0 !important;
}

.player .platinum {
    background-position: -48px 0 !important;
}

#selectRobotPlayer {
    white-space: nowrap;
    position: relative;
    padding: 0;
    margin: 0
}

#robotsList {
    border: 1px solid #79b7e7;
    background: #dfeffc;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: -35px;
}

#robotsList li {
    display: block;
    margin: 1px;
    padding: 3px 10px;
    border: 1px solid #A6C9E2;
}

#minRatingDiv, #maxRatingDiv, #selectRobotPlayer {
    display: inline-block;
}

#dashboard th, #dashboard td, #gameboard th, #gameboard td {
    padding: 2px 5px;
    vertical-align: top;
    white-space: nowrap;
}

.player-info {
    padding: 3px;
    margin-bottom: 5px;
    background-image: none !important;
}

.player-info td {
    color: gray;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    border: 1px solid transparent;
}

.player-info .points {
    text-align: center;
}

.player-info .rating {
    padding-left: 10px;
}

.player-info .rating div {
    display: inline-block;
}

.player-info .winner-icon {
    vertical-align: top;
}

.game-join-error {
    color: gray;
    font-style: italic;
}

.profile {
    width: 960px;
    position: relative;
    margin: 0 auto;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: none;
}

.profile a {
    color: #a52a2a !important;
    border-bottom: 1px dotted;
}

.profile .content {
    border-width: 0;
    min-height: 300px;
    margin-left: 239px;
    background: #f5f8f9 none;
    border-left-width: 1px;
    padding: 18px 10px 18px 20px;
}

.profile .title {
    border-bottom: 1px solid #c0d2d2;
    line-height: normal;
}

.profile .player {
    font-size: 28px;
    font-family: Lucida, serif;
    line-height: normal;
}

.profile .registered {
    font-size: 10px;
    color: gray;
    line-height: normal;
}

.profile .info {
    background-color: transparent;
    left: 0;
    position: absolute;
    padding: 20px 20px;
    top: 0;
    width: 200px;
}

.profile .edit {
    top: 20px;
    right: 12px;
    position: absolute;
}

.profile .photo {
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.profile .undefined {
    display: none;
}

.profile .quotation {
    padding-top: 10px;
    font-style: italic;
}

.profile .games-info td {
    padding: 5px;
    text-align: center;
}

.profile .games-info td {
    white-space: nowrap;
}

.profile .games-info thead td {
    font-weight: bold;
}

.profile .games-info tbody td {
    color: #7a7a00;
    font-weight: bold;
    background-image: none;
}

.profile .games-info thead td span {
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

.profile .games-info tbody td span {
    color: gray;
}

.profile .photo .remove {
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.profile .statistic {
    padding: 5px;
    margin-top: 10px;
    background-image: none;
}

.profile .statistic .ui-layout-table>div>div {
    padding-right: 10px;
}

#changeProfileDialog {
    position: relative;
    width: 100%;
}

#changeProfileDialog .qq-upload-control div {
    display: inline-block !important;
}

#changeProfileDialog .qq-upload-button {
    width: auto !important;
}

#changeProfileDialog .qq-upload-drop-area {
    width: 200px;
    height: 200px;
    display: inline-block !important;
    margin-left: 2px !important;
}

#changeProfileDialog .qq-upload-file {
    display: none;
}

#changeProfileDialog .qq-upload-spinner, #changeProfileDialog .qq-upload-size, #changeProfileDialog .qq-upload-cancel {
    margin-right: 7px;
}

#changeProfileDialog .qq-upload-spinner {
    display: inline-block;
    background: url("/resources/images/wait.gif");
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

#changeProfileDialog .qq-upload-failed-text {
    display: none;
}

#changeProfileDialog .qq-upload-fail .qq-upload-failed-text {
    display: inline;
}

.settings-tabs a {
    border: 0;
}

.editable .sample {
    color: #999999;
}

.common-settings {
    border-spacing: 5px;
}

.common-settings td {
    vertical-align: top;
}

.profile .membership div {
    padding: 5px;
}

#messagesWidget .datatables_wrapper, #blacklistWidget .datatables_wrapper {
    min-height: inherit;
}

#messages tr, #blacklist tr {
    background-image: none;
}

#messages tr .message-controls a, #blacklist tr .blacklist-controls a {
    color: #cccccc;
    text-decoration: underline;
}

#messages tr:hover .message-controls a, #blacklist tr:hover .blacklist-controls a {
    color: inherit;
    text-decoration: underline;
}

#messages tr.odd td, #messages tr.even td, #blacklist tr.odd td, #blacklist tr.even td {
    vertical-align: top;
    border-bottom-style: solid;
}

.message, .blacklist {
    font-weight: normal;
    border: none;
}

.message-text, .blacklist-text {
    text-align: justify;
}

.message-date, .blacklist-date {
    white-space: nowrap;
}

.message-controls, .blacklist-controls {
    float: right;
    font-weight: bold;
}